.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ncrunchproject
*.cache
*.pdb
*.mdb

[Bb]in/
[Oo]bj/
TestResults/

*.log
*.vspscc
*_i.c
*_p.c
*.pidb
*.svclog
*.sln.ide

appsettings.Development.json
appsettings.Local.json

.idea/
*.sln.iml

.DS_Store
Thumbs.db

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/

*.dbmdl
*.bak
*.backup
